<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://JAVA.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Sakila</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.Login
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registro</display-name>
		<servlet-name>Registro</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.Registro</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GestionPeliculas</display-name>
		<servlet-name>GestionPeliculas</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.GestionPeliculas</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Pelicula</display-name>
		<servlet-name>Pelicula</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.Pelicula</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GestionActores</display-name>
		<servlet-name>GestionActores</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.GestionActores</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GestionCategorias</display-name>
		<servlet-name>GestionCategorias</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.GestionCategorias</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Actores</display-name>
		<servlet-name>Actores</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.Actores</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Categoria</display-name>
		<servlet-name>Categoria</servlet-name>
		<servlet-class>es.iespuertodelacruz.adrian.sakila.servlets.Categoria</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
                <url-pattern>/Login</url-pattern>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/Registro</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestionPeliculas</servlet-name>
		<url-pattern>/GestionPeliculas</url-pattern>
		<!--<url-pattern>/admin/Pelicula</url-pattern>-->
		<url-pattern>/admin/GestionPeliculas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Pelicula</servlet-name>
		<url-pattern>/Pelicula</url-pattern>
		<url-pattern>/user/Pelicula</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestionActores</servlet-name>
		<url-pattern>/GestionActores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestionCategorias</servlet-name>
		<url-pattern>/GestionCategorias</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Actores</servlet-name>
		<url-pattern>/Actores</url-pattern>
		<url-pattern>/user/Actores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Categoria</servlet-name>
		<url-pattern>/Categoria</url-pattern>
		<url-pattern>/user/Categoria</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>inicio.html</welcome-file>
	</welcome-file-list>
</web-app>