@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.titulo {
    color: #fff !important;
}

.titulo:hover {
    color: rgb(221, 221, 221) !important;
}

.carousel-caption {
    bottom: 40%;
}

.carousel-caption h5 {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif !important;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    text-align: center;
}

.navbar {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: rgb(255, 255, 255);
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(221, 221, 221) !important;
}