
body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Arial', sans-serif;
  overflow-y: scroll;
}
.container {
  padding: 10px;
  margin: 20px auto;
  width: 60%;
  text-align: center;
}
.example {
  display: inline-block;
  margin-right: 3%;
  width: 30%;
  min-width: 220px;
  vertical-align: text-top;
}
.example:last-child {
  margin-right: 0;
}
.example > h2 {
  color: #ffffff;
}
/* Card Styles */
.card {
  background-color: #ffffff;
  text-align: left;
  border-radius: 4px;
  overflow: hidden;
}
.card__body {
  padding: 16px 0;
}
.card__primary-title {
  padding: 8px 16px;
}
.card__primary-title h1, .card__primary-title h2, .card__primary-title h3, .card__primary-title h4, .card__primary-title h5, .card__primary-title h6 {
  margin: 0;
}
.card__supporting-text {
  padding: 8px 16px;
}
.card__actions {
  padding: 8px;
}
/* Material & utility classes */
.bg--deep-purple {
  color: #ffffff;
  background-color: #7661F0;
}
.text-normal {
  font-weight: normal;
}
.text-bold {
  font-weight: bold;
}
.text-secondary {
  color: #9e9e9e;
}
.text-small {
  font-size: 14px;
}
.text-medium {
  font-size: 16px;
}
.text-large {
  font-size: 24px;
}
.item {
  display: inline-block;
  margin-top: 8px;
  max-height: 72px;
  vertical-align: middle;
}
.image {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.image--avatar {
  display: inline-block;
  margin-right: 16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  vertical-align: middle;
}
.image img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
}
.btn {
  display: inline-block;
  padding: 8px;
  color: inherit;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.btn--icon {
  transition: color 0.3s;
}
.btn--icon:hover {
  color: #9e9e9e;
}
.depth--two {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}


.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  right:0;
  bottom:0;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
span{
  transition:.5s;  
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}
.boton{
  width:40px;
  height:40px;
  border-radius:100%;
  border:none;
  color:#FFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size:28px;
  outline:none;
  position:absolute;
  right:0;
  bottom:0;
  margin-right:26px;
  transform:scale(0);
}

.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#6610f2;
  right:0;
  bottom:12%;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
.botonF2{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#6610f2;
  right:0;
  bottom:12%;
  position:absolute;
  margin-right:16px;
  margin-bottom:100px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}
.botonF3{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#6610f2;
  right:0;
  bottom:12%;
  position:absolute;
  margin-right:16px;
  margin-bottom:184px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
}