.buttonDisponible {

    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   .disponible{
    background: #FBCA1F;
   }
   .agotado{
    background: #ff6119;
   }
   .buttonDisponible:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   .buttonDisponible:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }